.projects__container{
   background-color: var(--container-color);
   padding: 2rem;
   border-radius: 1.25rem;
   grid-template-columns: repeat(3,1fr);
}
.project__data{
margin: 0 auto;
 border-radius: 1rem;
 overflow: hidden;
 width:270px;
 height: 250px;
 box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.project__wrap{
    position: relative;
    width:100%;
   height: 170px; 
    gap: 1rem;
    overflow: hidden;
}
.project__image__overlap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 170px;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project__eye{
    font-size: x-large;
    display: none;
    color: var(--title-color);
}
.project__wrap:hover .project__image__overlap{
    background-color: rgba(0,0,0,0.3);
}
.project__wrap:hover .project__eye{
    display: block;
    
}
.project__image{
    width: 100%;
    height: 170px;
    object-fit:fill;
    transition: transform 0.3s ease;
   
   
}
.project__wrap:hover .project__image{
    transform: scale(1.1);
}
.project__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2px 0 0 0.5rem;
    font-size: var(--normal-font-size);
    color: var(--title-color-dark);
}
.project__subtitle{
    padding:0 0.5rem;
    font-size: var(--small-font-size);
    display: flex;
}
.project__title i{
    font-size: 1.25rem;
    color:var(--title-color) ;
    padding: 0 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 4px 0 0 4px ;
    background-color: rgba(0,0,0,0.05);
}


@media screen and (max-width: 992px) {
     .projects__container{
        grid-template-columns: repeat(2,1fr);
        
    }
    .project__data{
        width: 100%;
    }
}
    /* For medium devices */
    @media screen and (max-width: 700px) {
        .projects__container{
            grid-template-columns: 1fr;
            
        }
        .project__data{
            width: 100%;
        }
    }
    
    @media screen and (max-width: 576px) {
  
    }
    
    /* For small devices */
    @media screen and (max-width: 350px) {
      
    }
    